# Python bytecode
*.pyc

# Jupyter Notebook checkpoints
*-checkpoint.*
.ipynb_checkpoints/

# Python packaging
*egg-info/

# Model output files (NEMO)
nemo??_1m_201001_202212_grid_T.nc
!nemo00_1m_201001_202212_grid_T.nc

